@font-face {
    font-family: "Nunito Sans";
    src: url("../assets/fonts/Nunito_Sans/NunitoSans-Light.ttf");
  }
  
  @font-face {
    font-family: "Nunito Sans Regular";
    src: url("../assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf");
  }
  
  @font-face {
    font-family: "Nunito Sans Bold";
    src: url("../assets/fonts/Nunito_Sans/NunitoSans-Bold.ttf");
  }
  
  
  * {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  html {
    background-color: #e6e7ee;
  }

  .login {
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: space-between;
      align-items: center;
  }

  .logos{
      width: 50%;
  }

  .formulaire{
      width: 50%;
  }